In [6]:
# 2025-05-23 566p
# 무비렌즈 영화 평점 데이터

import pandas as pd

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
mnames = ['movie_id', 'title', 'genres']

users = pd.read_table('users.dat', sep='::', header=None, names=unames, engine='python')
ratings = pd.read_table('ratings.dat', sep='::', header=None, names=rnames, engine='python')
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames, engine='python')

In [10]:
data = pd.merge(pd.merge(ratings, users), movies)
# data.iloc[1]
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')

In [11]:
ratings_by_title = data.groupby('title').size()
active_titles = ratings_by_title.index[ratings_by_title >= 250]

mean_ratings = mean_ratings.loc[active_titles]

mean_ratings.sort_values('F', ascending=False)
mean_ratings.sort_values('M', ascending=False)

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

In [14]:
# 평점 차이 구하기 571
mean_ratings['diff'] = mean_ratings['F'] - mean_ratings['M']
mean_ratings.sort_values('diff')

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300 -0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147 -0.676359
Dumb & Dumber (1994)                    2.697987  3.336595 -0.638608
Longest Day, The (1962)                 3.411765  4.031447 -0.619682
Cable Guy, The (1996)                   2.250000  2.863787 -0.613787
...                                          ...       ...       ...
Steel Magnolias (1989)                  3.901734  3.365957  0.535777
Little Women (1994)                     3.870588  3.321739  0.548849
Grease (1978)                           3.975265  3.367041  0.608224
Jumpin' Jack Flash (1986)               3.254717  2.578358  0.676359
Dirty Dancing (1987)                    3.790378  2.959596  0.830782

[1216 rows x 3 columns]

In [15]:
# 장르 나누기 Comedy|Drama|Romance
test = 'Comedy|Drama|Romance'
list = test.split('|')
list[0]

'Comedy'